{% extends "base.html" %}

{% block content %}
    <h1>Chart</h1>
    <select id="stateSelection" onChange="changeState()" autocomplete="off">
        <option selected disabled>Select</option
        {% for state in states %}
            <option value="{{state.title}}">
                {{state.title}}
            </option>
        {% endfor %}
    </select>
    <br>
    <div id="chartContainer" style="max-width: 1300px;">
        <canvas id="myChart"></canvas>
    </div>
{% endblock %}

<script>
    {% block scripts %}
    function changeState(){
        var chart;
        let state = document.getElementById("stateSelection").value;

        $.ajax({
            url : "/state/load-state-data/" + state,
            type : "GET",
    
            // handle a successful response
            success : function(json) {
                var dates = [];
                var cases = [];
                var deaths = [];
                for (let i=0; i<json.data.length; i++){
                    dates.push(json.data[i][0]);
                    cases.push(json.data[i][1]);
                    deaths.push(json.data[i][2]);

                }

                // Delete chart
                $('#myChart').remove();
                $('#chartContainer').append('<canvas id="myChart"><canvas>');
                var ctx = document.getElementById("myChart").getContext('2d');
                var config = {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: [{
                        label: 'Total Cases',
                        data: cases,
                        backgroundColor: 'blue'
                        },{
                        label: 'Total Deaths',
                        data: deaths,
                        backgroundColor: 'red'
                        }]
                    }
                };
                chart = new Chart(ctx, config);
            },
    
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
              console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
          });
    }
    {% endblock %}
</script>