{% extends "base.html" %}

{% block content %}
    <h1>Chart</h1>
    <a href="/map/">View map</a>
    <br><br>
    <select id="stateSelection" onChange="changeState()" autocomplete="off">
        <option selected disabled>Select</option
        {% for state in states %}
            <option value="{{state.title}}">
                {{state.title}}
            </option>
        {% endfor %}
    </select>
    <span id="loadingIndicator"></span>
    <br>
    <div id="chartContainer" style="max-width: 1300px;">
        <canvas id="myChart"></canvas>
    </div>
{% endblock %}

<script>
    {% block scripts %}
    function changeState(){
        var chart;
        let state = document.getElementById("stateSelection").value;
        document.getElementById("loadingIndicator").innerHTML = "Loading..."
        $.ajax({
            url : "/state/load-state-data/" + state,
            type : "GET",
    
            // handle a successful response
            success : function(json) {
                var dates = [];
                var cases = [];
                var new_cases = [];
                for (let i=0; i<json.data.length; i++){
                    dates.push(json.data[i][0]);
                    cases.push(json.data[i][1]);
                }

                // Calculate newly reported cases by subtracting current cases from the day prior
                new_cases[0] = cases[0];
                for (let i=1; i<cases.length; i++){
                    // Number of total cases "decreases" if death rate > new cases, set to 0 instead
                    new_cases[i] = Math.max(cases[i] - cases[i-1], 0);
                }

                // Delete chart
                $('#myChart').remove();
                $('#chartContainer').append('<canvas id="myChart"><canvas>');
                
                document.getElementById("loadingIndicator").innerHTML = "";
                
                var ctx = document.getElementById("myChart").getContext('2d');
                var config = {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: [{
                        label: 'New Cases',
                        data: new_cases,
                        backgroundColor: 'blue'
                        },]
                    }
                };
                chart = new Chart(ctx, config);
            },
    
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
              console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
          });
    }
    {% endblock %}
</script>