{% extends "base.html" %}

{% block content %}
    {{ state_data|json_script:"state_data" }}
    <h1>Map</h1>
    <a href="/chart/">View chart</a>
    <br><br>
    <svg id="canvas" style="width: 1900px; height: 750px; stroke: white; stroke-width: 2px;"></svg>
{% endblock %}

<script>
    {% block scripts %}
        var state_data = JSON.parse($("#state_data").text())
        console.log(state_data);
        d3.json('https://raw.githubusercontent.com/PublicaMundi/MappingAPI/master/data/geojson/us-states.json').then(
            (data, error) => {
                var projection = d3.geoIdentity().reflectY(true).fitSize([1600, 700],data)
                let canvas = d3.select("#canvas")
                canvas.selectAll('path')
                .data(data.features)
                .enter()
                .append('path')
                .attr('d', d3.geoPath(projection))
                .attr('fill', (state)=>{
                    state_name = state.properties.name.toLowerCase();
                    console.log(state_name)
                    if (state_data[state_name]){
                        let percentage = state_data[state_name];
                        if (percentage <= 0.005)
                            return "#ffdab3"
                        else if (percentage <= 0.008)
                            return "#ffb566"
                        else if (percentage <= 0.011)
                            return "#ff8533"
                        else if (percentage <= 0.014)
                            return "#cc2900"
                        else
                            return "#661400"
                    }
                })
            }
        )       
        
    {% endblock %}
</script>